---

- name: CLICKHOUSE | Add configuration files (from vars)
  template:
    src: "{{ clickhouse_config_file_name }}.j2"
    dest: "{{ clickhouse_config_directory }}/{{ clickhouse_config_file_name }}"
    mode: 0644
  when: clickhouse_custom_config_file_path is not defined
  notify: "{{ clickhouse_handler_on_config_change }}"
  tags: config_files

- name: CLICKHOUSE | Add configuration files (from user files)
  copy:
    src: "{{ clickhouse_custom_config_file_path }}/"
    dest: "{{ clickhouse_config_directory }}"
    owner: "{{ clickhouse_user }}"
    group: "{{ clickhouse_group }}"
    mode: 0644
  when: clickhouse_custom_config_file_path is defined
  notify: "{{ clickhouse_handler_on_config_change }}"
  tags: config_files

- name: CLICKHOUSE | Configure users (from vars)
  template:
    src: "{{ clickhouse_users_file_name }}.j2"
    dest: "{{ clickhouse_config_directory }}/{{ clickhouse_users_file_name }}"
    mode: 0644
  when: clickhouse_custom_users_file_path is not defined
  notify: "{{ clickhouse_handler_on_config_change }}"
  tags:
    - config_files
    - clickhouse_users

- name: CLICKHOUSE | Configure users files (from users files)
  copy:
    src: "{{ clickhouse_custom_users_file_path }}/"
    dest: "{{ clickhouse_config_directory }}"
    owner: "{{ clickhouse_user }}"
    group: "{{ clickhouse_group }}"
    mode: 0644
  when: clickhouse_custom_users_file_path is defined
  notify: "{{ clickhouse_handler_on_config_change }}"
  tags:
    - config_files
    - clickhouse_users
