{{ ansible_managed | comment }}
[Unit]
Description=ClickHouse JDBC Bridge
Documentation={{ clickhouse_jdbc_bridge_documentation_link | default('') }}
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp={{ clickhouse_private_tmp }}
Type=simple
User={{ clickhouse_jdbc_bridge_user }}
Group={{ clickhouse_jdbc_bridge_group }}
RuntimeDirectory={{ clickhouse_jdbc_bridge_service }}
LimitNOFILE={{ clickhouse_limit_no_file }}

ExecStart=/usr/local/bin/clickhouse-jdbc-bridge
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
Restart=always
RestartSec=30

LimitCORE=infinity
CapabilityBoundingSet=CAP_NET_ADMIN CAP_IPC_LOCK CAP_SYS_NICE

[Install]
WantedBy=multi-user.target
