{{ ansible_managed | comment }}
[Unit]
Description=ClickHouse Server (analytic DBMS for big data)
Documentation= {{ clickhouse_documentation_link }}
Requires=network-online.target
# NOTE: that After/Wants=time-sync.target is not enough, you need to ensure
# that the time was adjusted already, if you use systemd-timesyncd you are
# safe, but if you use ntp or some other daemon, you should configure it
# additionaly.
After=time-sync.target network-online.target
Wants=time-sync.target

[Service]
Type=simple
User={{ clickhouse_user }}
Group={{ clickhouse_group }}
Restart=always
RestartSec=30
PrivateTmp= {{ clickhouse_private_tmp }}
RuntimeDirectory={{ clickhouse_service }}
ExecStart=/usr/bin/{{ clickhouse_service }} --config={{ clickhouse_config_directory }}/{{ clickhouse_config_file_name }} --pid-file=/run/clickhouse-server/{{ clickhouse_service }}.pid
ExecReload=/bin/kill -HUP $MAINPID
EnvironmentFile=-{{ clickhouse_environment_file }}
LimitCORE=infinity
LimitNOFILE={{ clickhouse_limit_no_file }}
CapabilityBoundingSet=CAP_NET_ADMIN CAP_IPC_LOCK CAP_SYS_NICE CAP_NET_BIND_SERVICE

StandardOutput={{ clickhouse_log_output }}
StandardError={{ clickhouse_log_output }}

[Install]
WantedBy=multi-user.target
